// 头部样式
ion-header{
    ion-toolbar{
        --background:#f8f8f8;
        ion-title{
            font-size: 0.8rem;
        }
        .btn_color{
            color:black;
            font-size: 0.8rem;
        }
    }
}
// 内容样式
ion-content{
    .order_detail{
        ion-card-content{
            position: relative;
            padding-left:0.5rem;
            padding-right:0.5rem;
            .detail_info{
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                font-size: 0.8rem;
                li{
                    width: 62%;
                    line-height: 1.5rem;
                    .purqty{
                        color:#f25454;
                    }
                    .inputBox{
                        width: 60%;
                        border-width: 0;
                        border-bottom: 1px solid #ccc;
                    }
                }
                li:nth-child(2n){
                    width: 38%;
                }
            }
            .bottom_btn{
                display: flex;
                justify-content: flex-end;
                ion-button{
                    height: 2rem;
                    margin-top: 0.625rem;
                    --border-color:#666;
                    --color:#666;
                    --background-activated:red;
                    font-size: 0.8rem;
                    width: 30%;
                }

            }
            .corner{
                position: absolute;
                right: 0.625rem;
                top: 0.375rem;
                display: flex;
                align-items: center;
                color:#0086f7;
                font-size: 0.8rem;
            }
        }
    }
}
