// 清空页面默认样式
html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
    margin: 0;
    padding: 0;
}
*{box-sizing: border-box;}
html, body {
    min-height: 100%;
}

body {
    font-family: "Microsoft YaHei";
    font-size:14px;
    color:#333;
}
h1, h2, h3, h4, h5, h6{font-weight:normal;}
ul,ol {
    list-style: none;
}

img {
    border: none;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #232323;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

input, textarea {
    outline: none;
    border: none;
}

textarea {
    resize: none;
    overflow: auto;
}
// 头部样式
ion-header{
    ion-toolbar{
        --background:#f8f8f8;
        display: flex;
        justify-content: space-between;
        ion-button{
            font-size: 0.8rem;            
            color:black;
        }
        .font_size{
            font-size: 0.8rem;
        }
    }
}
// 内容样式
ion-content{
    --background:#f6f4f4;
    ion-item{
        font-size:0.8rem;
        .text_center{
            margin-left: 4rem;
        }
    }
    .input_item{
        ion-input{
            text-align: center;
        }
    }
    ion-button{
        width: 90%;
        margin: 1rem auto 0;
        --background:#3ab5f1;
    }
}