.m0{
    margin: 0 !important;
}
ion-item{
    --inner-border-width:0;
}
// 头部样式
ion-header{
    ion-toolbar{
        --background:#f8f8f8;
        ion-title{
            font-size: 0.8rem;
        }
        .btn_color{
            color:black;
        }
    }
}
// 内容样式
ion-content{
    --background:#f8f8f8;
    // 主要列表样式
    .main_list{
        list-style: none;
        margin: 0;
        padding: 0;
        .second_item{
            padding-left: 1rem;
        }
        >li{
            border-bottom: 1px solid #ccc;
        }
        li:last-child{
            margin-bottom: 1rem;
        }
    }
}

.residence_item{
    font-size: 0.8rem !important;
}
.btn{
    --background:#50abf1;
    width: 80%;
    margin: 0 auto;
}
.reApply{
    margin-top: 1rem;
}